[Unit]
Description=Datastreamers mqtt to influxdb forwarder
After=network.target

[Service]
WorkingDirectory=/opt/mqtt-forwarder
ExecStart=/opt/mqtt-forwarder/forwarder.py --mqtt-host {{ mqtt_host }} --mqtt-port {{ mqtt_port }} --influx-host {{ influx_host }} --influx-user {{ influx_user }} --influx-pass-file {{ influx_pass_file }} --influx-db {{ influx_db }} --node-name {{ influx_node_name }}
User={{ mqtt_forwarder_user}}
Group={{ mqtt_forwarder_group }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
