{{ ansible_managed | comment }}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ ansible_default_ipv4.address }} {{ ansible_hostname }} {{ ansible_fqdn }}
{{ ansible_default_ipv6.address }} {{ ansible_hostname }} {{ ansible_fqdn }}
