{{ ansible_managed | comment }}

[sshd]
enabled = true
action = iptables[name=sshd, port=ssh, protocol=tcp]

#[pure-ftpd]
#enabled = true
#action = iptables[name=FTP, port=ftp, protocol=tcp]
#maxretry = 3

#[dovecot]
#enabled = true
#action = iptables-multiport[name=dovecot, port="pop3,pop3s,imap,imaps", protocol=tcp]
#maxretry = 5

#[postfix-sasl]
#enabled = true
#action = iptables-multiport[name=postfix-sasl, port="smtp,smtps,submission", protocol=tcp]
#maxretry = 3
